body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 980px;
    height: 730px;
    display: flex;
    background-color: rgb(2, 126, 250);
    padding: 30px 50px;
    border-radius: 5%;
}

.column {
    width: 100px;
    height: 710px;
    margin: 0px 10px;
    padding: 10px;
}

.column:hover {
    cursor: pointer;
    border: 2px solid lightgreen;
    border-radius: 10%;
}

.column div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    margin: 15px 0px;
}